:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --background-btn-color: #f5f4fa;
  --header-background-color: #ffffff;
  --footer-background-color: #2f303a;
  --logo-link-black-color: #000000;
  --footer-mail-tel: rgba(255, 255, 255, 0.6);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: var(--header-background-color);
}

.hero {
  background-color: var(--footer-background-color);
}

.footer {
  background-color: var(--footer-background-color);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.index {
  color: var(--accent-color);
}

.portfolio {
  color: var(--accent-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--header-background-color);
  background-color: var(--accent-color);
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.logo-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-link-black {
  color: var(--logo-link-black-color);
}

.logo-link-white {
  color: var(--header-background-color);
}

.list-about {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.list-about-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.list-our-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-section {
  background-color: var(--background-btn-color);
}

.list-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.list-team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.footer-mail-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-mail-tel);
}

.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--header-background-color);
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
  background-color: var(--background-btn-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--header-background-color);
  background-color: var(--accent-color);
}

.portfolio-our-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}

.portfolio-our-projects {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
